.png{
 position: absolute;
 right: 10%;

}
.p1{
    position: absolute;
    top: 20%;
    left: 30%;
}
.p2{
    position: absolute;
    top: 25%;
    left: 30%;
}
.p3{
    position: absolute;
    top: 30%;
    left: 30%;
}